$elementsMainColor: #4b2e28;    // rgba(75, 46, 40, 1)
$heroColor: #f5d7b5;            // rgba(245, 215, 181, 1);
$beigeSecondaryColor: #E6B98A;
$beigeLightColor: #F5E5D0;
$whiteColor: #FFFFFF;
$placeholderTextColor: #D9C3A5;

$maxWidthContainer: 1140;
$minWidth: 320;
$buttonBorderRadius: 16px;